@import "../_vars.scss";

body {
  background-color: var(--yellow);
}

.whiteHeader {
  align-self: flex-start;
  color: var(--white);
  font-size: 3rem;
  padding: 10px;
  margin: 20px 0px;
}

.blackHeader {
  align-self: flex-start;
  color: var(--black);
  font-size: 3rem;
  padding: 10px;
  margin: 20px 0px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  width: 1000px;
  align-self: center;
  margin: 30px 0px;
}

.gridThree {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
}

.slideOne {
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.slideTwo {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.slideThree {
  background-color: var(--white);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* HERO SECTION */

.hero {
  position: relative;
  background-color: var(--yellow);
  padding: 100px 0px 0px 0px;
  height: 100vh;
}

.jumbo {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 30px;
  color: var(--black);
  text-shadow: 5px 6px var(--white);
}

.episodes {
  margin-top: 60px;
  font-size: 3rem;
  text-align: center;
  animation: grow 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes grow {
  50% {
    transform: scale3d(1.2, 1, 1);
  }
}

.banner {
  position: absolute;
  width: 1000px;
  bottom: 0;
  left: 50%;
  margin-left: -500px;
}

@media screen and (max-width: 700px) {
  .jumbo {
    font-size: 4rem;
    margin-top: 80px;
  }
  .banner {
    display: none;
  }

  .content {
    width: 100%;
  }
}

/* BURGER */

#page-wrap {
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--black);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--white);
}

/* General sidebar styles */
.bm-menu {
  background: var(--black);
  padding: 20px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--black);
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
