@import "../../_vars.scss";
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

.background {
  background-color: var(--yellow);
}

.logo {
  width: 130px;
  position: fixed;
  z-index: 1000;
  animation: spinning 300ms linear;
}

.social {
  margin-right: 10px;
  font-size: 1.8rem;
  color: var(--white);
}

.social:hover {
  color: var(--yellow);
}

.link {
  font-family: var(--title);
  font-size: 1.5rem;
}

@keyframes spinning {
  from {
    transform: scale(3) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
