@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&display=swap");

:root {
  --red: #fc5130;
  --white: #ffff;
  --yellow: #ffda6d;
  --green: #01a6a0;
  --black: #323232;
  --gray: #d3d3d3;
  --title: "Bangers", cursive;
  --copy: "Montserrat", sans-serif;
}
